<router-outlet></router-outlet>
<div *ngFor="let shot of shots | slice:0:5; index as i" >
	<div class="shot" id="{{i}}" [routerLink]="[i]">		
	    <div id="logo">
	      	<img id="logo" [src]="shot.thumbnail"
       			(mouseenter)="mouseOver($event, i)"
       			(mouseleave)="mouseLeave($event, i)"
       		>
	    </div>
	    <div id="title">
	      {{shot.title}}
	    </div>
	    <div id="description">
	      {{shot.description}}
	    </div>
	    <div id="platform">
	      platform: {{shot.platforms}}
	    </div>
	</div>
</div>






